*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.App{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

/*Menú lateral*/
.menu-container{
  width: 15%;
  background-color: #333;

  .principal-list{
    list-style: none;
    width: 14.5vw;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 30px;
    padding: 0;
    
    li{
      padding: 5px;
      text-align: left;
      cursor: pointer;
      border-bottom: 1px solid #fff;

      svg, i{
        margin: 5px;
        margin-right: 10px;
      }
    }

    li:hover{
      background-color: #ddd237;
      color: black;
    }
  }
}

/*Información y herramientas (Lado Izquierdo)*/

.informationAndTools{
  width: 30%;
  background-color: rgb(31, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  hr{
    width: 100%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    height: 2px;
  }
}

.imagePerfil{
  display: flex;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: 4px solid #ffffff;
  margin: 50px;
}

.information-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 27vw;
  margin-bottom: 20px;

  h4{
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 5px;

    .progress{
      margin-left: 20px;
      width: 70%;
      height: 20px;
      font-weight: bold;
    }
  }
}

.title-part{
  width: 100%;
  color: #ffffff;
  font-size: 2.3rem;
}

/*Información de Perfil y Experiencia (Lado Derecho)*/

.perfil{
  overflow: hidden;
  text-align: center;
  align-items: center;
  background-color: blanchedalmond;
  width: 55%;
  position: relative;

  .header-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;

    h1{
      font-family: "serif";
      font-size: 4.5rem;
      margin-bottom: 5px;
      text-align: center;
    }

    h2{
      font-size: 3rem;
      font-family: "serif";
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      text-decoration: underline;
      font-style: italic;
    }

    h3{
      font-size: 2rem;
      color: rgb(46, 83, 156);
    }
  }

  .content-information{
    float: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  hr{
    border: 2px solid black;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .content-perfil{
    width: 85%;
    text-align: justify;

    h3{
      font-size: 2.5rem;
      font-family: 'Times New Roman';
    }

    h4{
      font-size: 1.3rem;
      line-height: 1.5;
    }

    div{
      margin-bottom: 15px;
    }

    .knowledge{
      li{
        font-size: 1.3rem;
        margin: 2px;
        border-radius: 15px;
        background-color: rgb(31, 27, 27);
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width:900px) {
  .title-part{
    font-size: 1.8rem;
  }

  .perfil{
    .header-perfil{
      h1{
        font-size: 4rem;
      }

      h2{
        font-size: 2.5rem;
      }

      h3{
        font-size: 2rem;
      }
    }

    .content-perfil{
      h3{
        font-size: 2rem;
      }
  
      h4{
        font-size: 1.2rem;
      }
  
      .knowledge{
        li{
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width:710px) {
  .title-part{
    font-size: 3.5vw;
  }

  .perfil{
    .header-perfil{
      h1{
        font-size: 7vw;
      }

      h2{
        font-size: 4.7vw;
      }

      h3{
        font-size: 3.7vw;
      }
    }
  }

  .information-container{
    h4{
      font-size: 3vw;
    }
  }
}

/*Vista de teléfono*/
@media screen and (max-width:320px) {
  .menu-container{
    display: none;
  }

  .imagePerfil{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .informationAndTools{
    width: 40%;

    .information-container{
      width: 95%;

      h3{
        font-size: 6vw;
      }

      h4{
        justify-content: left;
        font-size: 4.5vw;
        display: flex;
        flex-wrap: wrap;

        .progress{
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
  }

  .perfil{
    width: 60%;

    .header-perfil{
      h1{
        font-size: 10vw;
      }

      h2{
        font-size: 8.5vw;
      }

      h3{
        font-size: 5vw;
      }
    }

    .content-information{
      h3{
        font-size: 9vw;
      }

      h4{
        font-size: 5vw;
      }
    }
  }
}